@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&family=Urbanist:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap");
@import "tailwindcss";

:root {
  --font-display: "Urbanist", sans-serif;
  --font-body: "DM Sans", sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #00a7f3;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: #f7fafe;
    overflow-x: hidden;
  }
}
